html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3c5390;
    color: #fff;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Navigation header */
header {
    width: 100%;
    background: linear-gradient(#120b1d,#3c5390 75%,transparent); /* #3c5390 */
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 5;
}

#tdiv {
    margin: 0;
    font-size: 2rem;
    width: 100%;
    height: 20rem;
    background: linear-gradient(#002374,#120b1d);
}

.title-container {
    justify-content: center;
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
}

.title1 {
    cursor: default;
    color: aliceblue;
    font-family: 'Marck Script';
    transform:rotate(140deg) translateX(-100%) translateY(10%) scale(.01);
    transition-duration: 2000ms; 
}

.title {
    font-family: 'Marck Script';
    padding-right: 1rem;
    text-align: center;
    color: aliceblue;
    cursor: default;
    transform:rotate(-100deg) translateX(-100%) translateY(100%) scale(.01);
    transition-duration: 3000ms; 
}

.main-nav {
    height: 100%;
    width: 99%;
    padding-left: 0;
    margin-top: 0;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

.main-nav li {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

.main-nav li a {
    padding-top: 1rem;
    display: block;
    width: inherit;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: .5rem 0;
    border-radius: 5px 0 5px 0;
    
}

.main-nav li a:hover {
    
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgb(111, 168, 210);
    background: rgba(193, 198, 215, 0.1);
    color: #d0ddec;
}

/* Animated box */

.background-box {
    position: absolute;
    width: 300px;
    height: 300px;
    background:  rgba(255, 255, 255, 0.1);
    z-index: -1;
}

/* Project Section */

.body {
    width: inherit;
    min-height: 100vh;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

#project {
    background: linear-gradient(#3c5390,#2c416a);
    z-index: 0;
    padding-top: 30rem;
}
#to-project {
    padding-top: 10rem;
}
.project1 {
    padding: 0px 30px 0px 30px;
    border-radius: 10px;
}

.project2 {
    padding: 0px 30px 0px 30px;
    border-radius: 10px;
}

.project-container {
    margin: 5rem;
    display: flex;
}

.c2 {
    justify-content: end;
}

.text {
    margin: 0 7rem;
    text-align: center;
    cursor: default;
}

.box {
    
    background-color: #d0ddec;
    height: 20em;
    width: 30em;
}

/* About Section */

#about {
    background: linear-gradient(#2c416a,#322fe6);
    justify-items: center;
    z-index: 0;
}

#contact {
    background: linear-gradient(#322fe6,#272c60);
    z-index: 0;
    padding-bottom: 1rem;
}

.about-outline:after {
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 50%;
    margin-left: auto;
}

.about-title {
    padding: 3rem 1rem 1rem 3rem;
    border-bottom: 1px solid #fff;
}

/* Contact Section */

.contact-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#resume-link {
    text-align: center;
    font-style: italic; 
    margin-bottom: 5rem;
}

#resume-link a {
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
}

#resume-link a:hover {
    text-decoration: none;
    color: #afefff;
}

#contact-button {
    color: #fff;
    font-size: large;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(193, 198, 215, 0.1);
    cursor: pointer;
    text-align: center;
}

#contact-button:hover {
    background-color: rgba(60, 94, 207, 0.7);
    border-bottom: 2px solid rgb(46, 109, 163);
    border-right: 2px solid rgb(46, 109, 163);
    border-top: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
}

#contact-list {
    margin: auto;
    list-style: none;
    display: none;
    padding-left: 0;
    cursor: default;
}

#contact-list li {
    text-align: center;
    color: #fff;
}

#contact-list li a {
    text-decoration: none;
    color: #fff;
}

#contact-list li a:hover {
    color: #afefff;
}

.contact-li:nth-child(1) {
    transition-delay: 100ms;
}

.contact-li:nth-child(2) {
    transition-delay: 250ms;
}

.contact-li:nth-child(3) {
    transition-delay: 400ms;
}

.contact-li:nth-child(4) {
    transition-delay: 550ms;
}

.link-btn {
    font-size: inherit;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.link-btn:hover {
    color: #afefff;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    font-size: medium;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background: rgba(193, 198, 215, 0.8);
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Hidden Section, deals with animations */

.hidden {
    opacity: 0;
    filter: blur(4px);
    transition: all 1s;
}

.hidden1 {
    transform: rotate(-90deg) translateX(-100%);
}

.hidden2 {
    transform: rotate(-20deg) translateX(-200%);
}

.hidden3 {
    transform: translateX(-100%);
}

.hidden4 {
    filter: blur(1px);
    opacity: .2;
    transition-duration: 3000ms;
}

.htitle1 {
    transition-delay: 200ms;
    transform: translateX(50%);
}

.htitle2 {
    transition-delay: 200ms;
    transform: translateX(-100%);
}

.hdesc {
    transition-delay: 300ms;
    transform: translateY(100%);
}

.hidden-box {
    transition-duration: 20000ms;
}

.hbox1 {
    transform: rotate(50deg) translateX(-100%) translateY(-300%);
}

.hbox2 {
    transform: rotate(-100deg) translateX(200%) translateY(-300%);
}

.hbox3 {
    left:50%;
    transform: rotate(-200deg) translateX(-110%) translateY(250%);
}

.hbox4 {
    left:50%;
    transform: rotate(-250deg) translateX(-110%) translateY(250%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
    transform: rotate(0);
}

.show-box {
    transform: translate(0) rotate(0);
    transform: scale(.01);
}

/* Screen size compatibility section */

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .background-box {
        display: none;
    }
}

/* Screen size minimum 200px */
@media(min-width: 200px) {
    .background-box {
        display: none;
    }
    .main-nav li a {
        font-size: 1rem;
    }
    .title-container {
        font-size: 1rem;
        flex-direction: column;
        padding-top: 3rem;
        text-align: center;

    }
    .project-container {
        flex-direction: column;
        width: inherit;
        margin-left: 0;
        padding-left: 0;
    }
    .box {
        margin: auto;
        background-color: none;
        width: 10rem;
        height: 7rem;
    }
    .text {
        
        margin-left: 0;
        padding-left: 0;
    } 
    #video1, #video2 {
        max-width: 10rem;
        max-height: 8rem;
    }
    .hdesc {
        width: inherit;
    }
    .text {
        width: inherit;
    }
    .about-outline {
        max-width: 90%;
        margin: auto;
    }
    .about-container {
        margin: 0 2rem 2rem 0;
        min-height: 30rem;
        background-color: rgba(217, 220, 231, 0.7);
        border-radius: 7px;
        width: 100%;
        cursor: default;
    }
    .about-desc {
        padding-left: .7rem;
        padding-right: .7rem;
    }
    .contact-container {
        max-width: 90%;
    }
    #contact-button {
        margin-left: 0;
        padding-left: 0;
    }
    #contact-list li {
        font-size: 1rem;
    }
    #contact-list li a{
        font-size: 1rem;
        padding-left: 0;
        margin-left: 0;
    }
}
/* Screen size minimum 600px */
@media(min-width: 600px) {
    .main-nav li a {
        font-size: 1.5rem;
    }
    .box {
        width: 20rem;
        height: 15rem;
    }
    #video1, #video2 {
        max-width: 20rem;
        max-height: 17rem;
    }
    .contact-container {
        max-width: 80%;
    }
    #contact-list li {
        font-size: 1.5rem;
    }
    #contact-list li a{
        font-size: 1.5rem;
    }
}
/* Screen size minimum 900px */
@media(min-width: 900px) {
    .title-container {
        font-size: 2rem;
        flex-direction: row;
        padding-top: 8rem;
    }
    .background-box {
        display: inline;
    }
    .main-nav li a {
        font-size: 2rem;
    }
    .project-container {
        flex-direction: row;
        max-width: 85%;
        margin: 5rem;
    }
    .box {
        background-color: #d0ddec;
        height: 20em;
        width: 30em;
    }
    #video1, #video2 {
        max-width: 50rem;
        max-height: 30rem;
    }
    .text {
        margin: 0 3rem;
    }
    .hdesc {
        width: 95%;
    }
    .about-outline {
        max-width: 50%;
    }
    .about-container {
        width: 100%;
    }
    .about-desc {
        padding-left: 3rem;
        padding-right: 2rem;
    }
    .contact-container {
        width: fit-content;
    }
    #contact-button {
        margin-left: 20px;
        padding: 2rem;
    }
    #contact-list {
        margin: auto;
    }
    #contact-list li {
        font-size: 2rem;
    }
    #contact-list li a{
        font-size: 2rem;
    }
}

@media(min-width: 1300px) {
    .main-nav li a {
        font-size: 3rem;
    }
    #to-project {
        padding-top: 25rem;
    }
    .text {
        max-width: 75%;
    }
}