html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #002374;
    color: #fff;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    width: 100%;
    background: linear-gradient(#120b1d,#3c5390);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

.title {
    margin: 0;
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(#002374,#120b1d);
    color: aliceblue;
}
.main-nav {
    height: 100%;
    width: 92%;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

.main-nav li {
    width: 100%;
    text-align: center;
    z-index: 1;
}

.main-nav li a {
    display: block;
    width: inherit;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: .5rem 0;
    border-radius: 5px 0 5px 0;
    
}

.main-nav li a:hover {
    
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgb(111, 168, 210);
    background: rgba(193, 198, 215, 0.1);
    color: #d0ddec;
}

.background-box {
    position: absolute;
    width: 300px;
    height: 300px;
    background:  rgba(255, 255, 255, 0.1);
    z-index: -1;
}

.body {
    padding-top: 40rem;
    width: inherit;
    min-height: 100vh;
}

#project {
    background: linear-gradient(#3c5390,#2c416a);
    z-index: 0;
}

.project1 {
    padding: 0px 30px 0px 30px;
    border-radius: 10px;
}

.project2 {
    padding: 0px 30px 0px 30px;
    border-radius: 10px;
}

.project-container {
    margin: 5rem;
    display: flex;
    flex-direction: row;
}

.c2 {
    justify-content: end;
}

.text {
    margin: 0 7rem;
    text-align: center;
}

.box {
    
    background-color: #d0ddec;
    height: 20em;
    width: 30em;
}

#about {
    background: linear-gradient(#2c416a,#322fe6);
    justify-items: center;
    z-index: 0;
}

#contact {
    background: linear-gradient(#322fe6,#272c60);
    z-index: 0;
}

.about-outline {
    max-width: 50%;
    margin: auto;
    
}

.about-outline:after {
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 50%;
    margin-left: auto;
}

.about-container {
    margin: 0 2rem 2rem 0;
    min-height: 30rem;
    background-color: rgba(217, 220, 231, 0.7);
    border-radius: 7px;
}

.about-title {
    padding: 3rem 1rem 1rem 3rem;
    border-bottom: 1px solid #fff;
}


.about-desc {
    padding-left: 3rem;
}

.contact-container {
    margin: auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#resume-link {
    text-align: center;
    font-style: italic; 
    margin-bottom: 5rem;
}

#resume-link a {
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
}

#resume-link a:hover {
    text-decoration: none;
    color: #afefff;
}

#contact-button {
    margin-left: 20px;
    color: #fff;
    font-size: large;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(193, 198, 215, 0.1);
    cursor: pointer;
    text-align: center;
}

#contact-button:hover {
    background-color: rgba(60, 94, 207, 0.7);
    border-bottom: 2px solid rgb(46, 109, 163);
    border-right: 2px solid rgb(46, 109, 163);
    border-top: 2px solid aliceblue;
    border-left: 2px solid aliceblue;
}

#contact-list {
    margin: auto;
    list-style: none;
    display: none;
}

#contact-list li {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

#contact-list li a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

#contact-list li a:hover {
    color: #afefff;
}

.contact-li:nth-child(1) {
    transition-delay: 100ms;
}

.contact-li:nth-child(2) {
    transition-delay: 250ms;
}

.contact-li:nth-child(3) {
    transition-delay: 400ms;
}

.link-btn {
    font-size: inherit;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.link-btn:hover {
    color: #afefff;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    font-size: medium;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 10%;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hidden {
    opacity: 0;
    filter: blur(4px);
    transition: all 1s;
}

.hidden1 {
    transform: rotate(-90deg) translateX(-100%);
}

.hidden2 {
    transform: rotate(90deg) translateX(100%);
}

.hidden3 {
    transform: translateX(-100%);
}

.hidden4 {
    transform: translateX(150%);
    filter: blur(1px);
    opacity: .8;
    transition-delay: 300ms;
}

.htitle1 {
    transition-delay: 200ms;
    transform: translateX(100%);
}

.htitle2 {
    transition-delay: 200ms;
    transform: translateX(-100%);
}

.hdesc {
    transition-delay: 300ms;
    transform: translateY(100%);
}

.hidden-box {
    transition-duration: 20000ms;
}

.hbox1 {
    transform: rotate(50deg) translateX(-100%) translateY(-300%);
}

.hbox2 {
    transform: rotate(-100deg) translateX(200%) translateY(-300%);
}

.hbox3 {
    left:50%;
    transform: rotate(-200deg) translateX(-110%) translateY(250%);
}

.hbox4 {
    left:50%;
    transform: rotate(-250deg) translateX(-110%) translateY(250%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
    transform: rotate(0);
}

.show-box {
    transform: translate(0) rotate(0);
    transform: scale(.01);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .background-box {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .main-nav li a {
        font-size: 1px;
    }
}